body {
  background-color: #f9f9e4; /* Cor de fundo amarela clara */
  font-family: Arial, sans-serif;
}

.container {
  padding: 40px;
  max-width: 800px;
  margin: 40px auto;
  background-color: white; /* Fundo branco para o conteúdo */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #6abd45; /* Verde para o título */
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

h3 {
  color: #6abd45; /* Verde para os subtítulos */
  font-size: 20px;
  margin-top: 20px;
}

ul {
  padding-left: 20px;
}

ul li {
  list-style-type: disc;
}

p {
  margin-bottom: 20px;
}


