/* AdicionarOng.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.adicionar-ong {
  font-family: 'Inter', sans-serif;
  background-color: #FCFFE0; /* Cor de fundo da tela */
  padding: 20px;
  margin: 0;
}

.title {
  text-align: center;
  font-size: 24px;
  color: #4CAF50; /* Cor do título */
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Efeito de drop shadow */
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

.input-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.input-row div {
  flex: 1;
}

label {
  font-size: 14px;
  color: #075C0A; 
  margin-bottom: 6px;
  display: block;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 6px;
}

input:focus,
select:focus {
  border-color: #4caf50;
  outline: none;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

.error-message {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 5px;
}

/* Rótulos e campos de entrada (nome, endereço, estado, horário) */
.input-row label,
.input-row input,
.input-row select,
input#cnpj + label,
input#email + label,
input#telefone + label {
  color: #075C0A; 
  font-weight: bold; 
}

@media (max-width: 768px) {
  .input-row {
    flex-direction: column;
  }
}
