.nossa-abordagem {
    text-align: center; /* Centraliza o conteúdo */
    padding: 100px;
    color: #4CAF50; /* Verde */
    background-color: #f9f9e4; /* Cor de fundo amarela clara */
}

.titulo-abordagem {
font-size: large;
    font-weight: bold; /* Negrito */
    margin-bottom: 10px; /* Espaço abaixo do título */
}

.texto-abordagem {
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}
