.contact-info {
  background-color: #008000; /* Cor de fundo */
  color: #000; /* Cor do texto */
  font-family: Arial, sans-serif; /* Fonte utilizada */
  padding: 10px 20px; /* Reduzindo o padding superior e inferior */
  min-height: 150px; /* Reduzindo a altura mínima */
  display: flex; /* Flexbox para organizar o conteúdo */
  flex-direction: column; /* Disposição vertical dos elementos */
  justify-content: flex-start; /* Inicia o conteúdo mais abaixo */
}

.content-section,
.contact-details {
  display: flex; /* Flexbox para organizar os elementos */
  justify-content: space-around; /* Espaçamento entre colunas */
  flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha */
  margin-bottom: 5px; /* Margem inferior */
  gap: 10px; /* Espaço entre os elementos */
}

.info-section,
.detail-item {
  flex: 1 1 30%; /* Largura das colunas */
  text-align: center; /* Centraliza o texto */
}

.info-section h3 {
  font-size: 1em; /* Tamanho da fonte */
  margin-bottom: 5px; /* Margem inferior */
  color: #000; /* Cor do texto */
  font-weight: normal; /* Remove negrito */
}

/* Alinhamento de ícones ao lado do texto */
.detail-item {
  display: flex; /* Flexbox para alinhar ícone e texto na mesma linha */
  align-items: center; /* Centraliza verticalmente ícones e texto */
  justify-content: center; /* Centraliza horizontalmente */
  text-align: left; /* Alinha o texto à esquerda */
}

.detail-item img {
  width: 20px; /* Ajuste do tamanho do ícone */
  height: 20px; /* Ajuste do tamanho do ícone */
  margin-right: 10px; /* Espaço entre o ícone e o texto */
  vertical-align: middle; /* Alinha o ícone verticalmente ao texto */
}

.detail-item p {
  font-size: 1em; /* Tamanho da fonte */
  color: #000; /* Cor do texto */
  margin: 0; /* Remove margens extras */
}

.copyright {
  font-size: 0.7em; /* Tamanho da fonte */
  color: #000; /* Cor do texto alterada para preto */
  text-align: center; /* Centraliza o texto */
  margin-top: 10px; /* Aumenta a margem superior */
  font-weight: normal; /* Remove o negrito */
}

/* Links */
.info-section a,
.detail-item a {
  font-size: 1em; /* Tamanho da fonte dos links */
  color: #000; /* Cor dos links alterada para preto */
  text-decoration: none; /* Remove sublinhado dos links */
  font-weight: normal; /* Remove o negrito */
  transition: color 0.3s ease; /* Animação suave ao passar o mouse */
}

.info-section a:hover,
.detail-item a:hover {
  color: #ccc; /* Cor alterada ao passar o mouse */
  text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}
