/* Estilo Geral */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #FCFFE0;
    overflow-x: hidden; /* Evita o scroll horizontal */
}

/* Cabeçalho */
header {
    background-color: #FCFFE0;     
    padding: 120px;                
    margin: 0 auto;                
    display: flex;                 
    flex-direction: column;        
    justify-content: center;       
    align-items: center;           
}

header .logo img {
    max-width: 300px;              
    height: auto;                  
    position: absolute;            
    top: 0;                        
    left: 50px;                    
    padding: 10px;                 
}

header nav {
    display: flex;
    justify-content: flex-end;
    height: auto;                  
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 10px;              
    display: block;                
}

header nav ul li .queroDoarBtn, 
header nav ul li .redesaborsolidario, 
header nav ul li .junteseanos, 
header nav ul li .contatos {
    padding: 10px 20px;            
    margin-left: 40px;             
    color: #000;
}

header nav ul li .redesaborsolidario {
    margin-left: 150px;            
}

.queroDoarBtn:hover {
    background-color: #FF9800;
    color: #fff;
    transition: 0.3s;              
    border-radius: 50px;
}

.redesaborsolidario:hover, 
.junteseanos:hover, 
.contatos:hover {
    color: #4CAF50;               
}

.redesaborsolidario:hover::after, 
.junteseanos:hover::after, 
.contatos:hover::after {
    width: 100%;                   
    left: 0;
    background: #000;             
}

.redesaborsolidario, 
.junteseanos, 
.contatos {
    color: #000;                  
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;   }

.redesaborsolidario::after, 
.junteseanos::after, 
.contatos::after {
    content: '';                   
    position: absolute;
    width: 0;                      
    height: 2px;                   
    display: block;
    margin-top: 5px;               
    right: 0;                      
    background: #000;             
    transition: width 0.3s ease;   
}



.hero {
    text-align: center;
    padding: 10px;
    background-color: #FCFFE0;
}

.hero .slider img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 20px auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Transição suave */
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    margin: 4px 2px; 
    transition: 0.3s; 
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-button:hover {
    background-color: #4CAF50;
    color: #fff;
}



.stats {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    max-width: 100vw;
    margin: 40px -20px;
    padding: 80px;
    background-color: #4CAF50;
    box-sizing: border-box;
    flex-wrap: wrap;
    min-height: 400px;
    position: relative;
}

.stat-item {
    flex: 1 1 30%;
    margin: 20px;
    text-align: center;
}

.stat-item h3 {
    font-size: 40px;
    color: #FCFFE0;
    margin: 0;
    font-weight: bold;
}

.stat-item p {
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
    font-weight: normal;
    max-width: 300px; 
    line-height: 1.5;  
    margin: 0 auto;    
}


.stat-item2 {
    flex: 1 1 100%;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-style: italic;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
    background-color: #4CAF50;
}


.ranking {
    margin: 10px -10px 60px -10px;
    background-color: #FFA000;
    padding: 20px;
    text-align: center;
}

.ranking h2 {
    color: white;
    font-size: 32px; 
    margin-bottom: 20px;
}

.ranking table {
    width: 100%;
    max-width: 900px; 
    margin: 0 auto; 
    color: white;
    border-collapse: collapse;
}

.ranking table tbody tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ranking table tbody tr td {
    padding: 10px;
    font-size: 22px; 
    font-weight: bold; 
    display: flex;
    align-items: center;
    width: 22%;
    justify-content: space-between;
}

.ranking table tbody tr td img {
    width: 80px; 
    height: 80px;
    margin-right: 15px; 
}

.ranking table tbody tr td span {
    font-size: 22px; 
    font-weight: bold; 
}

.ranking table tfoot td {
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    border-top: 2px solid white;
    font-size: 22px; 
}

.ranking table tfoot td:first-child {
    text-align: center; 
}


.about {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 56px;
    background-color: #4CAF50;
    margin: 10px -10px 10px -10px;
    color: white;
    text-align: center;
}

.about-content {
    flex: 1;
    padding: 0 20px;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}


.about {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 56px;
    background-color: #4CAF50;
    margin: 10px -10px;
    color: white;
    text-align: center; 
}

.about-content, .about-image {
    flex: 1;
    padding: 0 20px;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}


.contribution-section {
    background-color: #FCFFE0;
    padding: 40px 0; 
}

.contribution-section .container {
    max-width: 1200px;
    margin: 0 auto; 
}

.contribution-section .row {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.contribution-section .col {
    flex: 1 1 45%;
    margin: 20px 10px;
    display: flex;
    justify-content: center;
}

.contribution-section .card {
    background-color: #ff9800;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    width: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.contribution-section .card img {
    max-width: 100%;
    border-radius: 10px 10px 0 0; 
    height: auto; 
}

.contribution-section .card h3, 
.contribution-section .card p {
    color: #FFFFFF;
}

.contribution-section .card h3 {
    margin-top: 20px;
    font-size: 1.5em; 
}

.contribution-section .card p {
    font-size: 1em;
    line-height: 1.6; 
}



footer {
    background-color: #F5E9A5;
    color: black; 
    padding: 40px 15px;
    text-align: center;
    height: 100%;
    margin: 0;
    margin: 10px -10px -10px -10px;
}
footer img {
    max-width: 100px; 
    height: auto; 
    margin-right: 10px; 
}


footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px; 
    margin: 0 auto; 
}

footer .about {
    text-align: left;
    background-color: #F5E9A5;
    color: black;
}

footer .about p, footer .about h3 {
    margin: 5px 0;
}

footer .contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

footer .contact-info p, footer .contact-info h3 {
    margin: 5px 0;
}

footer .logo-footer {
    text-align: right; 
}

footer .logo-footer img {
    max-width: 250px;
}

.footer-bottom {
    background-color: #F5E9A5;
    color: black;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 14px;
    text-align: center; 
}

.column img {
    width: 50px; 
    height: auto; 
  }
  
