.nossos-valores {
    display: flex;
    padding: 20px;
    background-color: #f9f9f9;
    background-color: #f9f9e4; /* Cor de fundo amarela clara */
}

.titulo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%; /* Ajustar a largura conforme necessário */
}

.titulo {
    font-size: 3em;
    margin-bottom: 10px; /* Espaço entre o título e a imagem */
    margin-left: 260px; /* Move o texto 20px para a direita */
}

.imagem-valores img {
    height: auto;
    margin-left: 250px; /* Move o texto 20px para a direita */
    width: 300px; /* Aumenta a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin-top: 50px; /* Move a imagem para baixo */
}

.valores-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: auto; /* Alinha a grid à direita */
    width: 40%; /* Ajustar a largura conforme necessário */
}

.valor-item {
    background-color: #4CAF50; /* Verde */
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    color: white;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.valor-item:hover {
    transform: scale(1.05);
}

.valor-item .valor-imagem,
.valor-item h3,
.valor-item p,
.valor-item .valor-button {
    margin: 10px 0;
}

.valor-imagem {
    max-width: 100px; /* Ajuste conforme necessário */
    height: auto;
}

.valor-button {
    background-color: white;
    color: #4CAF50; /* Verde */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 150px; /* Aumenta a largura da imagem */
}


.valor-button:hover {
    background-color: #e0e0e0;
}

@media (max-width: 768px) {
    .nossos-valores {
        flex-direction: column; /* Coluna em telas menores */
        align-items: center; /* Centraliza os itens */
    }
    .titulo-container {
        width: 100%; /* Largura total em telas menores */
        align-items: center; /* Centraliza o título e a imagem */
    }
    .valores-grid {
        width: 100%; /* Largura total em telas menores */
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
    }
}